<!doctype html>
<html lang="en">
<head>
    <link href="/public/favicon.png" rel="icon">
    <link href="/public/css/styles.css" type="text/css" rel="stylesheet" media="all">
</head>
<body class="container-fluid create-update-page-body">
<div class="row">
    <div class="col">
        {% if article._id %}
        <h2>Edit article</h2>
        {% else %}
        <h2>Create a new article</h2>
        {% endif %}
        <form
                {% if article._id %} action="/article/{{article._id}}/edit"
                {% else %} action="/article/new"
                {% endif %}
                method="post">
            <div class="mb-3">
                <label for="articleTitle" class="form-label">Title</label>
                <input class="form-control" id="articleTitle" name="title" value="{{ article.title }}" >
            </div>
            <div class="mb-3">
                <label for="articleAuthor" class="form-label">Author</label>
                <input type="text" class="form-control" id="articleAuthor" name="author" value="{{ article.author }}" >
            </div>
            <div class="mb-3">
                <label for="articleContent" class="form-label">Content</label>
                <textarea class="form-control" id="articleContent" name="content" rows="10" cols="45">{{article.content}}</textarea>
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Save" class="createButton">
            </div>
        </form>
    </div>
</div>
</body>
</html>