<!doctype html>
<html lang="en">
<head>
    <link href="/public/favicon.png" rel="icon">
    <link href="/public/css/styles.css" type="text/css" rel="stylesheet" media="all">
</head>
<body class="container-fluid index-page-body">
<div class="row">
    <div class="col">
        <h2 class="text-center">Articles list</h2>
    </div>
</div>
<div class="row mb-3">
    <div class="col text-center">
        <a type="button" class="btn btn-primary" href="/article/new">Create a new article</a>
    </div>
</div>
{% if pagesQuantity > 0 %}
<div class="row align-items-end">
    <div class="col-2">
        <div class="mb-3">
            <label for="searchSelect" class="form-label">Select search parameter</label>
            <select class="form-select" id="searchSelect" name="searchSelect">
                <option value="author" selected>By author</option>
                <option value="title">By title</option>
            </select>
        </div>
    </div>
    <div class="col-2">
        <div class="mb-3">
            <label for="searchInput" class="form-label">Insert filter value</label>
            <input type="text" class="form-control" id="searchInput" name="searchInput">
        </div>
    </div>

    <div class="col-7">
        <div class="mb-3">
            <a id="searchLink" type="button" class="btn btn-primary">Search</a>
        </div>
    </div>
    <div class="col-2">
        <div>
            <a type="button" class="btn btn-primary" href="/">Clear filter</a>
        </div>
    </div>
</div>
<!--{% if pagesQuantity > 1 %}-->
<!--<div class="row">-->
<!--    <div class="col mb-3">-->
<!--        <ul class="pagination justify-content-center">-->
<!--            {% for i in range(1, pagesQuantity + 1) %}-->
<!--            {% if i === currentPage %}-->
<!--            <li class="page-item active"><span class="page-link">{{i}}</span></li>-->
<!--            {% else %}-->
<!--            <li class="page-item"><a class="page-link" href="/page/{{i}}">{{i}}</a></li>-->
<!--            {% endif %}-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->
<!--{% endif %}-->
<div class="row bd-example">
    <div class="col">
        <ul class="pagination justify-content-center">
            {% for i in range(1, pagesQuantity + 1) %}
            {% if currentPage === i %}
            <li class="page-item active"><span class="page-link">{{i}}</span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="/page/{{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <table class="table" style="background: white">
            <thead>
            <th>Title</th>
            <th>Author</th>
            <th>Content</th>
            <th>Last update date</th>
            <th>Actions</th>
            </thead>
            <tbody>
            {% for article in articles %}
            <tr>
                <td class="article-title">{{ article.title }}</td>
                <td class="article-author">{{ article.author }}</td>
                <td>{{ article.content }}</td>
                <td class="article-updatedAt">{{ article.updatedAt }}</td>
                <td class="table-buttons">
                    <a type="button" class="btn btn-warning" href="/article/{{article._id}}/edit"
                       style="margin-right: 10px">Edit</a>
                    <a type="button" class="btn btn-secondary" href="/article/{{article._id}}/delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}
<div class="row" style="margin-top: 15%">
    <div class="col">
        <h3 class="text-center">{{message}}</h3>
    </div>
</div>
{% endif %}
</body>
<script type="text/javascript">
    const searchInput = document.getElementById('searchInput');
    const searchSelect = document.getElementById('searchSelect');
    const searchBtn = document.getElementById("searchLink");

    searchInput.addEventListener('input', e => {
        switch (searchSelect.value) {
            case 'author':
                searchBtn.setAttribute("href", "/search/author/" + e.target.value);
                break;
            case 'title':
                searchBtn.setAttribute("href", "/search/title/" + e.target.value);
                break;
            case '':
                alert('Please select filter');
                break;
        }
    });

    searchBtn.addEventListener('click', e => {
        if (!searchInput.value) alert('Please insert expression for search')
    })
</script>
</html>